/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}



body{

    background:#000;

    color:white;

    font-family:Arial,sans-serif;

    padding-top:90px;

    overflow-x:hidden;

}





/* NAVBAR */

nav{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:90px;

    padding:0 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:9999;

    background:rgba(0,0,0,.85);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    border-bottom:1px solid #111;

}



.logo{

    font-size:42px;

    font-weight:bold;

    color:#3b82f6;

}



nav ul{

    list-style:none;

    display:flex;

    gap:50px;

}



nav ul li a{

    color:white;

    text-decoration:none;

    font-size:24px;

    transition:.3s;

}



nav ul li a:hover{

    color:#3b82f6;

}







/* HERO */

.hero{

    min-height:calc(100vh - 90px);

    padding:5% 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:80px;

}



.left{

    width:50%;

}



.tag{

    color:#3b82f6;

    font-size:22px;

    margin-bottom:20px;

}



.left h1{

    font-size:100px;

    line-height:1.1;

}



.left h1 span{

    color:#3b82f6;

}



.left h2{

    margin-top:20px;

    font-size:70px;

    color:#999;

}



.desc{

    margin-top:30px;

    font-size:28px;

    color:#bbb;

    line-height:1.7;

}



.buttons{

    margin-top:50px;

    display:flex;

    gap:25px;

}



.buttons a{

    padding:18px 45px;

    border-radius:15px;

    text-decoration:none;

    font-size:24px;

    transition:.3s;

}



.buttons a:first-child{

    background:#3b82f6;

    color:white;

}



.buttons a:last-child{

    border:1px solid #333;

    color:white;

}



.buttons a:hover{

    transform:translateY(-5px);

}






.socials{

    margin-top:50px;

    display:flex;

    gap:35px;

}



.socials i{

    font-size:40px;

    cursor:pointer;

    transition:.3s;

}



.socials i:hover{

    color:#3b82f6;

    transform:scale(1.2);

}





.right{

    width:45%;

}



.right img{

    width:100%;

    border-radius:35px;

    border:2px solid #222;

    box-shadow:0 0 40px rgba(59,130,246,.3);

}









/* CONTACT */

.contact-page{

    min-height:calc(100vh - 90px);

    padding:5% 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:80px;

}



.contact-left{

    width:45%;

}



.contact-left h1{

    font-size:80px;

    margin:20px 0;

    line-height:1.1;

}



.contact-desc{

    color:#aaa;

    font-size:26px;

    line-height:1.7;

    margin-bottom:50px;

}



.contact-info div{

    margin-bottom:30px;

    font-size:28px;

}



.contact-info i{

    color:#3b82f6;

    margin-right:20px;

}






.contact-right{

    width:50%;

}



.contact-right form{

    background:#080808;

    border:1px solid #181818;

    border-radius:35px;

    padding:50px;

}



.contact-right input,
.contact-right textarea{

    width:100%;

    background:#111;

    color:white;

    border:none;

    outline:none;

    border-radius:15px;

    padding:22px;

    margin-bottom:25px;

    font-size:22px;

}



.contact-right button{

    width:100%;

    border:none;

    background:#3b82f6;

    color:white;

    border-radius:15px;

    padding:22px;

    font-size:24px;

    cursor:pointer;

}



#responseText{

    margin-top:15px;

    font-size:22px;

}








/* MOBILE */

@media(max-width:900px){


    nav{

        padding:0 5%;

    }


    nav ul{

        gap:20px;

    }


    nav ul li a{

        font-size:18px;

    }


    .logo{

        font-size:32px;

    }



    .hero,
    .contact-page{

        flex-direction:column;

        text-align:center;

    }



    .left,
    .right,
    .contact-left,
    .contact-right{

        width:100%;

    }



    .left h1{

        font-size:60px;

    }



    .left h2{

        font-size:40px;

    }



    .desc,
    .contact-desc{

        font-size:20px;

    }



    .right img{

        margin-top:30px;

    }



    .socials{

        justify-content:center;

    }


}