{% load static %}

<html>

<head>

    <meta charset="UTF-8">

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
    >

    <title>

        {% block title %}
            Gautam Yadav
        {% endblock %}

    </title>


    <link
            rel="stylesheet"
            href="{% static 'css/style.css' %}"
    >


    <link
            rel="stylesheet"
            href="{% static 'fontawesome/css/all.min.css' %}"
    >


    <link
            rel="icon"
            href="{% static 'images/favicon.png' %}"
    >

</head>


<body>


<nav>

    <div class="logo">

        GY

    </div>


    <ul>

        <li>
            <a href="{% url 'home' %}">
                Home
            </a>
        </li>


        <li>
            <a href="{% url 'about' %}">
                About
            </a>
        </li>


        <li>
            <a href="{% url 'blog' %}">
                Blog
            </a>
        </li>


        <li>
            <a href="{% url 'contact' %}">
                Contact
            </a>
        </li>

    </ul>

</nav>



{% block content %}
{% endblock %}



{% block script %}
{% endblock %}


</body>

</html>