{% extends 'base.html' %}
{% load static %}

{% block title %}
Home | Gautam Yadav
{% endblock %}



{% block content %}

<section class="hero">


    <div class="left">

        <p class="tag">

            👋 Hello I'm

        </p>


        <h1>

            Gautam

            <span>

                Yadav

            </span>

        </h1>


        <h2>

            Backend Engineer

        </h2>


        <p class="desc">

            Building scalable applications
            using Python, Django, DRF,
            PostgreSQL, Redis, Docker & AWS.

        </p>


        <div class="buttons">

            <a href="#">

                Hire Me

            </a>


            <a href="#">

                Projects

            </a>

        </div>



        <div class="socials">

            <i class="fab fa-github"></i>

            <i class="fab fa-linkedin"></i>

            <i class="fab fa-instagram"></i>

            <i class="fab fa-x-twitter"></i>

        </div>

    </div>




    <div class="right">

        <img
                src="{% static 'images/1000078633.jpg' %}"
                alt="Gautam"
        >

    </div>


</section>

{% endblock %}